@import "../../assets/styles/breakpoints";

.verification-container {
    height: 100vh;
    background-color: #f8f9fa;

    .verification-box {
      width: 100vw;
      height: 100vh;
      background: white;
      border-radius: 10px;
      overflow: hidden;

      .input-group button {
        border: none;
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      .forgot-password {
        cursor: pointer;
      }
      
      .left-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2rem;

          .left-box-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .alert-fgpassword {
              font-size: 10pt;
            }
        }  
      }
      
      .right-box {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;

          .org-intro-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18pt;

            .bottx {
              font-size: 13pt;
          }
        }
      }
  }

  @include medium {
    .verification-box {
      width: 100vw;
      height: 100vh;
      background: white;
      border-radius: 10px;
      overflow: hidden;

      .right-box {
        display: none;
      }
    }
  }
}


.code{
  text-align: center;
  font-size: 18px;
}

#code{
  text-align: center;
}

.code span {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  cursor: pointer;
}

.verification-code-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.verification-code-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s;
}

.verification-code-input:focus {
  border-color: #007bff;
}

#send{
  justify-content: center;
  width: 500px;
}