.status-bar-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 41.9px;
  object-fit: cover;
}
.android-large-3-child {
  position: absolute;
  top: 102px;
  left: 25px;
  width: 171px;
  height: 73px;
}
.ech,
.sense {
  position: absolute;
  top: 0;
  left: 81px;
}
.ech {
  left: 0;
}
.biemoji-sunglasses-fill-icon3 {
  position: absolute;
  top: 17px;
  left: 61px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.logo {
  position: absolute;
  top: 63px;
  left: 20px;
  width: 178px;
  height: 48px;
}
.android-large-3-item {
  position: absolute;
  top: 42px;
  left: 0;
  width: 360px;
  height: 758px;
  background-color: rgb(7, 7, 168);
  border-radius: 10px;
}
.account-settings,
.home2,
.logout,
.statistics1 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.home-parent {
  position: absolute;
  top: 138px;
  left: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  font-size: 20px;
  color: #fff;
}
.icon-parkright,
.icon-parkright1,
.icon-parkright2 {
  position: absolute;
  top: 138px;
  left: 310px;
  width: 20px;
  height: 30px;
  rotate: 270deg;
  overflow: hidden;
}
.close-icon{
  position: absolute;
  top: 10px;
  left: 285px;
  width: 20px;
  height: 20px;
  cursor: pointer;

}
.icon-parkright1,
.icon-parkright2 {
  top: 206px;
}
.icon-parkright2 {
  top: 274px;
}
.freshsight17,
.image-5-icon15 {
  position: absolute;
  top: 63px;
  left: 20px;
  width: 176px;
  height: 48px;
}
.image-5-icon15 {
  height: 73.68%;
  width: 20.12%;
  top: 18.42%;
  right: 79.88%;
  bottom: 7.89%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.freshsight18,
.nourishing-lives-reducing9 {
  position: absolute;
  top: 68.42%;
  left: 22.49%;
  font-weight: 300;
}
.freshsight18 {
  top: 0;
  left: 21.89%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.image-5-group {
  position: absolute;
  top: 67px;
  left: 20px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  width: 169px;
  height: 38px;
  font-size: 8px;
  color: #e5e5e5;
}
.android-large-3 {
  width: 100%;
  position: relative;
  background-color: #eff0f4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #284fd7;
  font-family: Poppins;
}
