.mingcuteclose-line-parent{
  width: 110%;
  top: 15px;
  left: 150px;
  position: relative;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Poppins;
}

.earnings-parent-level {
    position: absolute;
    width: 42.93%;
    top: calc(50% - 81.5px);
    left: 54%;
    height: 94px;
    font-size: 16px;
    color: #243465;
  }
  .sound-group{
    display: flex;
    flex-direction: column;
  }
  .img{
    margin-left: 650px;
    margin-top: -35px;
    width: 300px;
  }
.sound{
    margin-top: 150px;
    margin-left: 575px;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.freshness-level4 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
  }
  .add-now-frame {
    position: relative;
    font-weight: 500;
    left: 35px;
  }
  .fresh15,
  .moderate4,
  .spoiled5 {
    position: absolute;
    top: 60px;
    left: 0;
    color: #284fd7;
  }
  .moderate4,
  .spoiled5 {
    left: 110px;
    color: #208dca;
  }
  .spoiled5 {
    left: 246px;
    color: #9a9a9a;
  }

  .group-child87,
.group-child88 {
  position: absolute;
  top: 39px;
  left: 0;
  height: 12px;
}
.group-child87 {
  background-color: #f1eded;
  width: 289px;
}
.group-child88 {
  border-radius: 3px;
  background: linear-gradient(90deg, #284fd7, #198a6c);
  width: 156.3px;
}
.group-child89,
.group-child90 {
  position: absolute;
  top: 33.5px;
  left: -0.5px;
  border-right: 1px solid #20ca22;
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.group-child90 {
  left: 288.5px;
  border-right: 1px solid #f1eded;
}
.remaining-shelf-life-parent1 {
  width: 489px;
  position: relative;
  height: 78px;
}
.group-wrapper2 {
    margin-top: -50px;
    margin-left: -20px;
}
.remaining-shelf-life-parent-sam1 {
  position: absolute;
  top: 141px;
  left: 2px;
  width: 277px;
  height: 78px;
}
.days-left14{
    margin-top: 30px;
    color: blue;
}
.frame-wrapper3-frame {
  position: absolute;
  top: 532px;
  left: 576px;
  border-radius: 7px;
  background-color: #284fd7;
  width: 400px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 18px 115px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
  /* @media screen and (max-width: 900px) {
    .frame-group {
      flex: 1;
    }
  }
  @media screen and (max-width: 700px) {
    .frame-container {
      gap: 32px 64px;
    }
    .frame-parent {
      gap: 98px 49px;
      padding-left: 35px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .rectangle-parent {
      padding-top: 101px;
      padding-bottom: 101px;
      box-sizing: border-box;
    }
    .apple,
    .red {
      font-size: 16px;
    }
    .purchase-button-parent,
    .three-state-label {
      flex-wrap: wrap;
    }
    .frame-container {
      gap: 16px 64px;
    }
} */