.instance-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0.5px solid var(--color-gainsboro-200);
  border-bottom: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.gunarathne,
.kamal {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.28px;
}
.gunarathne {
  left: 15.9%;
}
.div26,
.div27,
.no21-colombo,
.samplemailgmailcom {
  position: absolute;
  top: 0;
  left: 35.98%;
  letter-spacing: 0.28px;
}
.div26,
.div27,
.no21-colombo {
  left: 63.27%;
}
.div27,
.no21-colombo {
  left: 77.87%;
}
.no21-colombo {
  left: 86.57%;
}
.kamal-parent {
  position: absolute;
  height: 23.3%;
  width: 83.57%;
  top: 38.83%;
  right: 12.48%;
  bottom: 37.86%;
  left: 3.95%;
}
.rectangle-parent31 {
  position: absolute;
  top: 903px;
  left: 184px;
  width: 1114px;
  height: 103px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
