.mingcuteclose-line-icon1-close {
  position: absolute;
  top: 151px;
  left: 1179px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.only-fresh-or-moderate-child {
  position: absolute;
  top: 160px;
  left: 349px;
  border-radius: var(--br-xs);
  width: 298px;
  height: 327px;
  object-fit: cover;
}
.apple-only2 {
  position: absolute;
  top: 180px;
  left: 691px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.fresh2,
.moderate1,
.spoiled1 {
  position: absolute;
  top: 90px;
  left: 442px;
}
.fresh2,
.moderate1 {
  left: 208px;
  color: var(--color-steelblue-100);
}
.fresh2 {
  left: 0;
  color: var(--color-royalblue);
}
.group-child29,
.group-child30 {
  position: absolute;
  top: 61px;
  left: 0;
  height: 12px;
}
.group-child29 {
  background-color: var(--color-whitesmoke-200);
  width: 481.2px;
}
.group-child30 {
  border-radius: var(--br-10xs);
  background: linear-gradient(90deg, #284fd7, #19886f);
  width: 250.8px;
}
.group-child31,
.group-child32,
.group-child33 {
  position: absolute;
  top: 55.5px;
  left: -0.5px;
  border-right: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.group-child32,
.group-child33 {
  left: 480.7px;
  border-right: 1px solid var(--color-whitesmoke-200);
}
.group-child33 {
  left: 240.5px;
  border-right: 1px solid var(--color-limegreen-100);
}
.freshness-level1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.spoiled-group {
  position: absolute;
  top: 221px;
  left: 691px;
  width: 487px;
  height: 108px;
  color: var(--color-darkgray-100);
}
.group-child35 {
  position: absolute;
  top: 90px;
  left: 208px;
}
.days-left-only{
  position: absolute;
  top: 340px;
  font-size: 25px;
  left: 708px;
  color: blue;
}
.fresh-only-only{
  position: absolute;
  top: 250px;
  left: 708px;
  font-size: 25px;
  color: blue;
}
.group-child35 {
  top: 61px;
  left: 0;
  border-radius: var(--br-10xs);
  background: linear-gradient(90deg, #284fd7, #198a6c);
  width: 250.8px;
  height: 12px;
}
.group-child38 {
  position: absolute;
  top: 55.5px;
  left: 240.5px;
  border-right: 1px solid var(--color-darksalmon);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.days-left-group-only {
  position: absolute;
  top: 290px;
  left: 691px;
  width: 481.2px;
  height: 108px;
  color: var(--color-steelblue-100);
}
.only-fresh-or-moderate {
  width: 940px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  height: 440px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
