.mingcuteclose-line-icon5 {
  position: absolute;
  top: 65px;
  left:1179px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.only-spoiled-child {
  position: absolute;
  top: 107px;
  left: 379px;
  border-radius: var(--br-xs);
  width: 298px;
  height: 327px;
  object-fit: cover;
}
.hey-did-you {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 433px;
}
.mdiradiobox-blank-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.yes {
  position: relative;
}
.mdiradiobox-blank-parent {
  align-items: center;
  gap: 0 12px;
}
.frame-parent4,
.mdiradiobox-blank-parent,
.mdiradiobox-marked-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mdiradiobox-marked-parent {
  align-items: center;
  gap: 0 12px;
  color: var(--color-black);
}
.frame-parent4 {
  position: absolute;
  top: 40px;
  left: 0;
  align-items: flex-start;
  gap: 0 30px;
  color: #7e7c7c;
}
.hey-did-you-use-this-before-i-parent {
  position: absolute;
  top: 454px;
  left: 691px;
  width: 433px;
  height: 64px;
  font-size: var(--font-size-base);
}
.group-child56 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-royalblue);
}
.save1 {
  position: absolute;
  top: 31.25%;
  left: 39.55%;
  font-weight: 600;
}
.fresh-only-spoil{
  margin-top: 150px;
  margin-left: 430px;
  font-size: 20px;
  color: blue;
}
.rectangle-parent29 {
  position: absolute;
  height: 7.89%;
  width: 16.38%;
  top: 80.5%;
  right: 42.02%;
  bottom: 4.61%;
  left: 45.6%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.apple13 {
  position: absolute;
  top: 100px;
  left: 695px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkslateblue-100);
}
.fresh13,
.moderate2,
.spoiled3 {
  position: absolute;
  top: 90px;
  left: 442px;
}
.fresh13,
.moderate2 {
  left: 208px;
  color: var(--color-steelblue-100);
}
.fresh13 {
  left: 0;
  color: var(--color-royalblue);
}
.group-child57,
.group-child58 {
  position: absolute;
  top: 61px;
  left: 0;
  height: 12px;
}
.group-child57 {
  background-color: var(--color-whitesmoke-200);
  width: 481.2px;
}
.group-child58 {
  border-radius: var(--br-10xs);
  background: linear-gradient(90deg, #284fd7, #0cc308);
  width: 481px;
}
.group-child59,
.group-child60,
.group-child61 {
  position: absolute;
  top: 55.5px;
  left: -0.5px;
  border-right: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.group-child60,
.group-child61 {
  left: 480.7px;
  border-right: 1px solid var(--color-whitesmoke-200);
}
.group-child61 {
  left: 240.5px;
  border-right: 1px solid var(--color-limegreen-100);
}
.freshness-level2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.spoiled-container {
  position: absolute;
  top: 141px;
  left: 700px;
  width: 487px;
  height: 108px;
  color: #222227;
}
.group-child66,
.time-left2 {
  position: absolute;
  top: 90px;
  left: 427px;
}
.group-child66 {
  top: 55.5px;
  left: 240.5px;
  border-right: 1px solid var(--color-darksalmon);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.time-left-parent {
  position: absolute;
  top: 300px;
  left: 700px;
  width: 481.2px;
  height: 108px;
  color: var(--color-steelblue-100);
}
.only-spoiled {
  width: 940px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  height: 608px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
