.group-child158 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #fff;
  width: 312px;
  height: 276px;
}
.earnings84 {
  position: absolute;
  top: calc(50% - 47px);
  left: 0;
  letter-spacing: 0.28px;
}
.group-child159 {
  position: absolute;
  top: 34px;
  left: 0;
  border-radius: 4px;
  background-color: #eff0f4;
  width: 277px;
  height: 50px;
  font-size: 15px;
}
.earnings85 {
  position: absolute;
  top: calc(50% + 5px);
  left: 7.94%;
  letter-spacing: 0.28px;
  color: #979797;
}
.earnings-parent30 {
  position: absolute;
  width: 88.78%;
  top: calc(50% - 92px);
  right: 5.45%;
  left: 5.77%;
  height: 94px;
}
.mingcuteclose-line-icon10 {
  position: absolute;
  top: 14px;
  left: 280px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.group-child160,
.rectangle-parent91 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 276px;
}
.group-child160 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background-color: #284fd7;
}
.add-now1 {
  position: absolute;
  top: 31.25%;
  left: 24.6%;
  font-weight: 600;
}
.rectangle-parent92 {
  position: absolute;
  height: 17.39%;
  width: 87.18%;
  top: 63.04%;
  right: 6.41%;
  bottom: 19.57%;
  left: 6.41%;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
}
.popup {
  width: 312px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 276px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 16px;
  color: #243465;
  font-family: Poppins;
}
